{% assign currentUrl = page.url %}


<header>
    <a href="#content" id="nav-skip">Skip Navigation</a>
    
        <nav>
            <img id="menu-toggle" class="logo" src="/assets/images/icon.webp" alt= "An image of a morning stars' ball" >
            
                    <ul class="nav-links">
                        <li>
                            <a class="home" id="scramble" {% if currentUrl == '/' %}aria-current="page"{% endif %} href="/">Home</a>
                        </li>

                        <li>
                            <a class="about" id="scramble" {% if currentUrl == '/about/' %}aria-current="page"{% endif %} href="/about/">About</a>
                        </li>

                        <li>
                            <a class="portfolio" id="scramble" {% if currentUrl == '/portfolio/' %}aria-current="page"{% endif %} href="/portfolio/">Portfolio</a>
                        </li>
                    </ul>
                

            
        </nav>


{% comment %} vvv---------- JAVASCRIPT ----------vvv {% endcomment %}

<script src="/assets/js/nav.js"></script>


{% comment %} vvv---------- BACKGROUND IMAGES ----------vvv {% endcomment %}

    <div class="images">
        <img class="paper-scrap" src="/assets/images/paper-scrap-1.webp" atl="an image of some torn paper">
        <img class="paper-scrap" src="/assets/images/paper-scrap-2.webp" atl="an image of some torn paper">
        <img class="paper-scrap" src="/assets/images/paper-scrap-3.webp" atl="an image of some torn paper">
    </div>
</header>




