{% comment %} vvv---------- LAYOUT ----------vvv {% endcomment %}

{% layout "body.liquid", title: "About" %}


{% comment %} vvv---------- MAIN ----------vvv {% endcomment %}

{% block content %}
<div id="about-text">
<h1> About Me </h1>
{{ content }}
</div>


{% endblock %}