{% comment %} vvv---------- LAYOUT ----------vvv {% endcomment %}

{% layout "body.liquid", title: "Portfolio" %}


{% comment %} vvv---------- MAIN ----------vvv {% endcomment %}

{% block content %}
<div id="about-text">
<h1> Portfolio </h1>
{{ content }}

</div>

<script src="../assets/js/portfolio.js"></script>
{% endblock %}

