/* ---------- HTML ----------*/

html {
 background-image: url("../images/background.webp");  
    background-size: cover;
    min-height: 100vh;
    cursor: url(../cursors/default.png), auto;

}

/* ---------- COMMON VARIABLES ---------- */

:root {
    --basic-font-color: white;
    --link-font-color: #af2e0d;
    --highlight-color: #551606;
}

*:active {
    cursor: url(../cursors/click.png), auto;
}

::-moz-selection { /* Code for Firefox */
  color: white;
  background: red;
}

::selection {
  color: white;
  background: red;
}


/* ---------- FONTS ---------- */

@font-face {
    font-family: Stamp RSPK;
    src: url(../fonts/StampRSPKOne-Light.otf);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: Stamp RSPK;
    src: url(../fonts/StampRSPKOne-Medium.otf);
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: Punks Not Dead;
    src: url(../fonts/Punk_s_not_dead.ttf);
}


/* ---------- COMMON ELEMENT SETTINGS ---------- */

a {
    color: var(--link-font-color);
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    cursor: url(../cursors/pointer.png), auto;
    text-decoration: underline;
    text-decoration-thickness: 0.2em;
}

ul {
    list-style: none;
    padding: 0;
    font-size: 2em;
}

ul li:before {
    content: "\26E7";
    margin: 0;
}

p {
    font-size: 2em;
}

h1 {
    font-family: "Punks Not Dead";
    font-size: 5em;
}

h2 {
    font-size: 2em;
}


/* ---------- NAV ---------- */

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: url(../cursors/default.png), auto;
}

#logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    margin-left: 5em;
}

#logo:hover {
    background: none;
}

.logo {
    width: 15%;
    display: block;
    margin-left: 0%;
    margin-top: 2%;
}

nav {
    margin-left: auto;
    margin-right: 3em;
    cursor: url(../cursors/default.png), auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}


nav a{
    position: relative;
    margin: auto;
    z-index: 2;
}

nav a[aria-current="page"]{
    color: black;
}

nav a:hover[aria-current="page"]{
    color: black;
}

nav a:hover {
    background: none;
    color: var(--link-font-color);
    text-decoration: none;
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5em;
    font-family: "Punks Not Dead";
    font-size: 4em;
    width: 70%;
}

nav li {
    display: flex;
    align-items: center;
    justify-content: space;
}

nav li::before {
    content: "";

}

 #nav-skip {
    position: absolute;
    left: 1ch;
    inset-block: 0;
    align-self: center;
    padding: 0.5ch;
}

#nav-skip:not(:focus) {
    top: -150%;
}

.home {
    position: relative;
    left: 30%;
}

.about {
    position: relative;
    left: 70%;
}

.portfolio {
    position: relative;
    left: 55%;
}

#scramble {
    font-kerning: none;
    font-feature-settings: "liga" 0;
}

#scramble:hover {
    font-kerning: none;
    font-feature-settings: "liga" 0;
}

.images {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    gap: 3em;
    top: 4%;
    right: -13%;
    left: 10%;
    z-index: 1;
    pointer-events: none;

    img {
        width: 20%;
    }
}


/* ---------- BODY ---------- */

body {
    background-color: transparent;
    cursor: url(../cursors/default.png), auto;
    margin: 0;
    font-family: "Stamp RSPK";
}


    /* ---------- CONTENT ---------- */

    #content {
        background: url(../images/paper-sheet.webp);
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 140%;
        margin: auto;
        position: relative;
        float: left;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 60%;
        height: 100%;
        margin: auto;
        padding-top: 5em;
    }


    /* ---------- TEXT CONTENT ---------- */

    #text-content {
        display: flex;
        flex-direction: column;
        text-align: center;
        color: black;
        margin: 0;
        width: 60%;
        position: absolute;
        top: 50%; left: 50%;
        transform: translate(-50%, -50%);
    }

    #cool-s {
        position: absolute;
        width: 15%;
        margin: 0;
        rotate: 25deg;
        right: -10%;
        top: 5%;
        cursor: url(../cursors/default.png), auto;
    }

    #nautical-star {
        position: absolute;
        width: 15%;
        margin: 0;
        rotate: -25deg;
        bottom: -10%;
        left: -5%;
        cursor: url(../cursors/default.png), auto;
    }

    #platano-sticker {
        position: absolute;
        width: 20%;
        margin: 0;
        rotate: 15deg;
        right: 15%;
        top: -15%;
        cursor: url(../cursors/default.png), auto;

    }

    #polaroid-top {
        position: absolute;
        width: 30%;
        margin: 0;
        rotate: -20deg;
        top: -35%;
        left: -15%;
        pointer-events: none;
        z-index: 3;
    }

    .confetti p {
        position: absolute;
        top: 1%;
        left: -2.5%;
        color: black;
        rotate: -20deg;
        font-size: .85em;
        width: 15%;
        z-index: 4;
    }

    .confetti canvas {
        position: absolute;
        background-color: transparent;
        pointer-events: none;
        top: -90%;
        left: -65%;
        z-index: 3;
    }

    .confetti-button {
        position: absolute;
        width: 25%;
        height: 30%;
        margin: 0;
        rotate: -19deg;
        top: -28%;
        left: -13%;
        cursor: url(../cursors/default.png), auto;
    }

    .link {
        display: inline-block;
        width: 39%;
        font-size: 0.95em;
    }

    #cake-img {
        position: absolute;
        z-index: 1;
        width: 25%;
        rotate: -19deg;
        top: -27%;
        left: -11.5%;
        pointer-events: none;
    }

/* ---------- ABOUT PAGE ---------- */

#about-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3.5em;
    height: 100%;
}

#about-text h1 {
    margin-bottom: 0.2em;
}

#about-text p {
    width: 50%;
    font-size: 1.2em;
}


/* ---------- PORTFOLIO PAGE ---------- */

#tiny-list ul {
    font-size: 1em;
}

.portfolio-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    gap: 1em;
}

.list-item {
    width: 100%;
}


/* ---------- ART POSTS ---------- */

#images {
    width: 120%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.art {
    width: 40%;
}

.container p {
    font-size: 1.5em;
}


/* ---------- FOOTER ---------- */

#footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    left: 0; bottom: 0;
    width: 100%;
    text-align: center;
    color: var(--basic-font-color);
    font-size: small;
    cursor: url(../cursors/default.png);
}

.signature {
    width: 20%;
}



/* ---------- MEDIA QUERIES ---------- */

    /* ========== Xtra Large Devices ========== */
        @media (width >= 1920px) {}


    /* ========== Medium Devices ========== */

        @media (width <= 1024px){
            nav ul {
                font-size: 7em;
            }
            .home {
                left: -180%;
            }

            .about {
                left: -130%;
            }

            .portfolio {
                left: -70%;
            }

            h1 {
                font-size: 7em;
            }

            p {
                font-size: 3em;
            }

            #nautical-star {
                bottom: 3%;
                left: -12%;
                width: 15%;
            }

            #platano-sticker {
                top: -6%;
                right: 3%;
                width: 20%;
            }

            #cool-s {
                width: 15%;
                top: 10%;
                right: -10%;
            }

            .link {
                width: 29%;
            }

            .signature {
                width: 20%;
            }

            .confetti-button {
                width: 25%;
                height: 55%;
                top: -17%;
                left: -17%;
            }

            .confetti canvas {
                left: -38%;
                top: -55%;
            }

            .confetti p {
                font-size: 2em;
                width: 20%;
                top: 25%;
                left: -10%;
            }

            #polaroid-top {
                width: 30%;
                top: -27%;
                left: -20%;
            }

            #cake-img {
                width: 25%;
                top: -15%;
                left: -17%;
            }

            #about-text p {
                font-size: 1.8em;
            }

            #about-text h1 {
                font-size: 7em;
            }
        }

    /* ========== Small Devices ========== */

        @media (width <= 640px) {

            nav {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0;
                margin: 0;
            }

            .nav-links {
                position: fixed;
                width: 100%;
                height: 100%;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                font-size: 4em;
                transform: translateY(-100%);
                transition: transform 0.2s;

                li {
                    text-align: center;

                }
            }

            .nav-links.active {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 1em;
                position: absolute;
                top: 0;
                z-index: 999999;
                background-color: rgba(0, 0, 0, 1);
                transform: translateY(0);
            }

            .home {
                left: 0;
            }

            .about {
                left: 0;
            }

            .portfolio {
                left: 0;
            }

            #menu-toggle {
                display: block;
                margin: auto;
            }

            header {
                justify-content: center;
                margin-top: 15px;
            }

            .logo {
                margin: 0;
                width: 25%;
            }

            .images {
                display: none;
            }

            h1 {
                font-size: 3em;
            }

            p {
                font-size: 1em;
            }

            #nautical-star {
                bottom: -8%;
                left: 3%;
                width: 25%;
            }

            #platano-sticker {
                top: -7%;
                right: 29%;
                width: 35%;
            }

            #cool-s {
                width: 30%;
                top: 20%;
                right: -17%;
            }

            .link {
                width: 100%;
            }

            footer p {
                font-size: 1.7em;
            }

            .signature {
                width:  50%;
            }

            .confetti-button {
                display: none;
            }

            .confetti canvas {
                display: none;
            }

            .confetti p {
                display: none;
            }

            #polaroid-top {
                display: none;
            }

            #cake-img {
                display: none;
            }

            #about-text p {
                font-size: 1em;
            }

            #about-text h1 {
                font-size: 3em;
            }

        }

    /* ========== Xtra Small Devices ========== */

        @media ( width <= 360px) {

            h1 {
                font-size: 3em;
            }

            p {
                font-size: 1em;
            }

            #nautical-star {
                bottom: -3%;
                left: 1%;
                width: 25%;
            }

            #platano-sticker {
                top: -3%;
                width: 25%;
            }

            #cool-s {
                width: 20%;
                top: 10%;
                right: -15%;
            }

            .link {
                width: 80%;
            }

            .signature {
                width: 40%;
            }

            .confetti-button {
                width: 50%;
                height: 25%;
                top: -23%;
                left: -20%;
            }

            .confetti p {
                width: 50%;
                top: -6%;
                left: -9%;
            }

            .confetti canvas {
                left: -150%;
            }

            #polaroid-top {
                width: 60%;
                top: -28%;
                left: -25%;
            }

            #cake-img {
                width: 50%;
                top: -23%;
                left: -19%;
            }

            #about-text p {
                font-size: 1.3em;
            }

            #about-text h1 {
                font-size: 3em;
            }

        }




